
.red-text{
color:#ff0000;
}

.black-background{
background-color: #000000;
}

.color-link a{
    color:#ff0000;
    Text-decoration:none;
    }
   
.flex-this {
    display: flex;
    margin: auto;
    align-items: flex-start;
    padding: 5px;
    font-size: 15px;
}
.news{
    margin: auto;
    text-align: center;
    font-size: 30px;
    text-shadow: 3px 3px 4px r#ff0000;
}
.title{
    margin: auto;
    position: relative;
    bottom: 230px;
    text-shadow: 3px 3px 4px r#ff0000;
    text-align: center;
    font-size: 50px;
}
.block-text{
    display: inline-block;
    margin: auto;
    width: 287px;
    height: 27px;
    border: 1px solid #0000ff;
    background-color: #ffff;
    text-align: center;
    border-radius: 4px;
}

.user{
    position: relative;
    margin-top: 100px;
    width: 170px;
    background-color: #778899;
    color:black;
    font-style: oblique;
    border: 1px solid b#0000ff;
    box-shadow: 10px 5px 5px b#0000ff;
    border-radius: 4px;
}

.footer{
    width: 170px;
    border: 1px solid #0000ff;
    border-radius: 10px;
    background-color: w#ffff;
    text-align: center;
}

.sinopsis{
    position: relative;
    top: 40px;
    left: 40px;
    font-size: 14px;
    font-display: auto;
    width: 500px;
    height: 450px;
    text-align: center;
    margin: 10px;
}

.gif{
    display: flex;
    position: absolute;
    left: 620px;
    top: 900px;
    align-items: flex-start;
    margin: 10px;
}
.gif2{ 
    display: flex;
    position: absolute;
    left: 895px;
    top: 650px;
    align-items: flex-start;
    margin: 10px;
}
.clip{ 
    display: flex;
    position: absolute;
    left: 320px;
    top: 880px;
    align-items: flex-start;
    margin: 10px;
}